/* colores de los textos */

$color-txt-pink: #ff4b5c;
$color-txt-grey: #f0efef;
$color-txt-blue: #056674;
$color-txt-white: #fff;

/* colores para los elementos */

$color-grey-element: #f0efef;

/* color de los botones */

$deg: 30deg;
$color-boton-1:#ff4b5c;
$color-boton-2:#ff4b5c;
$color-boton-3: #ec6f50;

/* color de background */

$blue-bg-color: #056674;
$grey-bg-color: #e0ece4;
$pink-bg-color: #ff4b5c;
$white-bg-color: #fff;