 /* inicio estilos generales */
 /* to do:acomodar el codigo que est치 un desastre,
    luego aplicar BEM y continuar agregando mixins y variables scss y aplicar el anidamiento
    sigo acomodando codigo: _navbar.scss terminado*/
 
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 html {
     font-size: 16px;
     scroll-behavior: smooth;
 }
 
 body {
     cursor: default;
     font-family: 'Sen', sans-serif;
     font-weight: 400;
     @include tama침os(100vh, 100%);
 }
 
 .dspl-none {
     display: none;
 }
 
 .dspl-block {
     display: block;
 }
 
 .titulos {
     line-height: 3;
     font-size: 2rem;
     @media screen and (min-width: 62.5rem) {
         /* media querie 1000px */
         font-size: 3rem;
     }
 }
 
 .h-center {
     font-weight: 700;
     text-align: center;
     text-transform: uppercase;
 }
 
 .icon-img {
     /* le damos tama침o a los iconos */
     @include tama침os(4rem, 4rem);
 }
 
 .list-style,
 .list-style li {
     list-style: none;
 }
 
 .m-top-3 {
     margin-top: 3rem;
 }
 
 .txt-center {
     text-align: center;
 }
 
 .txt-color {
     color: $color-txt-pink;
 }
 
 .txt-decoration a {
     text-decoration: none;
 }
 
 .txt-white {
     color: $color-txt-grey;
 }
 /* fin estilos generales */