 /* inicio estilos generales */
 /* los comentarios de arriba son de los mixins y variables scss XD*/
 
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 html {
     font-size: 16px;
     scroll-behavior: smooth;
 }
 
 body {
     cursor: default;
     font-family: 'Sen', sans-serif;
     font-weight: 400;
     @include tamaños(100vh, 100%);
 }
 
 .dspl-none {
     display: none;
 }
 
 .h-center {
     font-weight: 700;
     text-align: center;
     text-transform: uppercase;
 }
 
 .icon-img {
     /* le damos tamaño a los iconos */
     @include tamaños(4rem, 4rem);
 }
 
 .list-style,
 .list-style li {
     list-style: none;
 }
 
 .m-top-3 {
     margin-top: 3rem;
 }
 
 .position-absolute {
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .titulos {
     line-height: 3;
     font-size: 2rem;
     @media screen and (min-width: 62.5rem) {
         /* media querie 1000px */
         font-size: 3rem;
     }
 }
 
 .txt-center {
     text-align: center;
 }
 
 .txt-color {
     color: $color-txt-pink;
 }
 
 .txt-color-blue {
     color: $color-txt-blue;
 }
 
 .txt-decoration a {
     text-decoration: none;
 }
 
 .txt-white {
     color: $color-txt-grey;
 }
 
 .spin {
     display: inline-block;
 }
 /* fin estilos generales */