/* fin estilos seccion find-us del index y find-us.html */

.find-us {
    .find-us__map {
        .find-us__iframe {
            margin: 2rem auto;
            width: 95vmin;
            box-shadow: .0625rem .0625rem .3125rem 0 #000;
            @media screen and (min-width: 514px) {
                width: 80vmax;
            }
            @media screen and (min-width: 59.375rem) {
                width: 55vmax;
            }
            @media screen and (min-width: 62.5rem) {
                width: 85vmax;
            }
        }
    }
    .find-us__p {
        border: .0625rem solid $color-txt-pink;
        padding: 1.25rem;
        width: 95vmin;
        margin: 1.25rem auto;
        border-radius: .3125rem;
    }
    .find-us__address {
        border: .125rem solid #056674;
        background-color: rgba(5, 102, 116, .7);
        display: inline-block;
        padding: .625rem;
        border-radius: .3125rem;
        font-weight: 700;
        font-size: 1.25rem;
        margin: 10px 0;
        width: 85vmin;
        box-shadow: .1125rem .3375rem .75rem -0.125rem rgba(0, 0, 0, .75);
    }
}


/* fin estilos seccion find-us del index y find-us.html */