/* fin estilos seccion find-us del index y find-us.html */

.find-us {
    .find-us__map {
        .find-us__iframe {
            margin: 2rem auto;
            width: 16.5625rem;
            box-shadow: .0625rem .0625rem .3125rem 0 #000;
            @media screen and (min-width: 25rem) {
                /* media querie 400px */
                width: 22.9375rem;
            }
            @media screen and (min-width: 28.125rem) {
                /* media querie 450px */
                width: 26.0625rem;
            }
            @media screen and (min-width: 36.25rem) {
                /* media querie 580px */
                width: 35.1875rem;
            }
            @media screen and (min-width: 43.75rem) {
                /* media querie 700px */
                width: 41.6875rem;
            }
            @media screen and (min-width: 62.5rem) {
                /* media querie 1000px */
                width: 60.5rem;
            }
            @media screen and (min-width: 81.25rem) {
                /* media querie 1300px */
                width: 70.5rem;
            }
        }
    }
    .find-us__address {
        border: .125rem solid #056674;
        background-color: rgba(5, 102, 116, .7);
        display: inline-block;
        padding: .625rem;
        border-radius: .3125rem;
        font-weight: 700;
        font-size: 1.25rem;
        margin: 10px 0;
        width: 85vmin;
        box-shadow: .1125rem .3375rem .75rem -0.125rem rgba(0, 0, 0, .75);
    }
}


/* fin estilos seccion find-us del index y find-us.html */