/* estilos seccion find-us */

.find-us .map iframe {
    margin: 2rem auto;
    width: 16.5625rem;
    box-shadow: .0625rem .0625rem .3125rem 0 #000;
}


/* fin estilos seccion find-us */


/* inicio estilos find-us.html */

.find-us address {
    border: .125rem solid #056674;
    background-color: rgba(5, 102, 116, .7);
    display: inline-block;
    padding: .625rem;
    border-radius: .3125rem;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 10px 0;
    box-shadow: .1125rem .3375rem .75rem -0.125rem rgba(0, 0, 0, .75);
}


/* fin estilos find-us.html */


/* media querie 400px */

@media screen and (min-width: 25rem) {
    /* estilos seccion find-us */
    .find-us .map iframe {
        width: 22.9375rem;
    }
    /* fin estilos seccion find-us */
}


/* media querie 450px */

@media screen and (min-width: 28.125rem) {
    /* estilos seccion find-us */
    .find-us .map iframe {
        width: 26.0625rem;
    }
    /* fin estilos seccion find-us */
}


/* media querie 580px */

@media screen and (min-width: 36.25rem) {
    /* estilos seccion find-us */
    .find-us .map iframe {
        width: 35.1875rem;
    }
    /* fin estilos seccion find-us */
}


/* media querie 700px */

@media screen and (min-width: 43.75rem) {
    /* estilos seccion find-us */
    .find-us .map iframe {
        width: 41.6875rem;
    }
    /* fin estilos seccion find-us */
}


/* media querie 1000px */

@media screen and (min-width: 62.5rem) {
    /* estilos seccion find-us */
    .find-us .map iframe {
        width: 60.5rem;
    }
    /* fin estilos seccion find-us */
}


/* media querie 1300px */

@media screen and (min-width: 81.25rem) {
    /* estilos seccion find-us */
    .find-us .map iframe {
        width: 70.5rem;
    }
    /* fin estilos seccion find-us */
}