/* inicio estilos index(home) */


/* estilos de la seccion reserva de la landing page */

.booking {
    .booking__txt-slogan {
        font-size: 1.4rem;
        font-style: italic;
        margin-bottom: 3rem;
    }
    .booking__form-reserva {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 4rem 0;
        /* agrego el display flex aqui para que el boton "checkear disponibilidad quede centrado si pasa para abajo" */
        .booking__input:nth-child(1),
        .booking__input:nth-child(2) {
            font-size: 1.25rem;
            height: 3rem;
            margin: 1em 0 2em;
            text-align: center;
            width: 15rem;
        }
        .booking__input:nth-child(3) {
            font-size: 15px;
            height: 3rem;
            margin: auto;
            width: fit-content;
        }
        @media screen and (min-width: 25rem) {
            /* media querie 400px */
            .booking__input:nth-child(1),
            .booking__input:nth-child(2) {
                margin: 1em 1rem 2em;
            }
        }
        @media screen and (min-width: 28.125rem) {
            /* media querie 450px */
            .booking__input:nth-child(1),
            .booking__input:nth-child(2) {
                margin: 1em 6rem 2em;
            }
        }
        @media screen and (min-width: 36.25rem) {
            /* media querie 580px */
            /* ests estilos los puse asi para que no se desalineen los input */
            .booking__input:nth-child(2) {
                margin: 1em 9rem 2em;
            }
        }
        @media screen and (min-width: 43.75rem) {
            /* media querie 700px */
            .booking__input:nth-child(1),
            .booking__input:nth-child(2) {
                margin: 1rem 1rem;
            }
            .booking__input:nth-child(3) {
                margin: 0 1.2rem;
            }
        }
    }
    .booking__a-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* estilo para el form de booking.html */

.form-reserva {
    .form-reserva__a {
        margin-left: 1rem;
        margin-top: 1.875rem;
        @media screen and (min-width: 375px) {
            margin-top: 0;
        }
    }
}


/* fin estilos  booking html y seccion booking del index */