/* estilos seccion rooms */

.rooms-lp {
    @include tamaños(49rem, 100%);
    .rooms-lp__container {
        background: url(../images/hab-seis-dos.jpg);
        /* esta img la repito tmb en el .box1 porq si no la coloco, al hacer hover quedan desfasadas las img, y tengo que buscar la solucion para que el bg-size no se repita tanto */
        background-size: cover;
        border: 1px solid #50949e;
        border-radius: 1%;
        box-shadow: .3125rem .4375rem .75rem -0.125rem rgba(0, 0, 0, .75);
        margin: 3rem;
        position: relative;
        @include tamaños(31.25rem, 15rem);
        cursor: pointer;
        .rooms-lp__clip {
            position: absolute;
            left: 0;
            top: 0;
            transition: .5s;
            @include tamaños(100%, 100%);
        }
        .rooms-lp__box1 {
            background: url(../images/hab-seis-dos.jpg);
            background-size: cover;
            clip-path: polygon(100% 47%, 0 29%, 0 0, 100% 0);
        }
        .rooms-lp__box2 {
            background: url(../images/hab-seis.jpg);
            background-size: cover;
            clip-path: polygon(100% 80%, 0 63%, 0 29%, 100% 46%);
        }
        .rooms-lp__box3 {
            background: url(../images/hab-seis-cuatro.jpg);
            background-size: cover;
            clip-path: polygon(100% 100%, 0 100%, 0 61%, 100% 80%);
        }
        .rooms-lp__content {
            background-color: #ffffffb3;
            bottom: -100%;
            border-radius: .3125rem;
            font-size: .9375rem;
            left: 0;
            margin: .1875rem;
            opacity: 0;
            padding: .9375rem;
            position: absolute;
            transition: .5s;
            width: 70%;
        }
        &:active .rooms-lp__clip {
            clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);
        }
        .rooms-lp__clip:active {
            clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
        }
        .rooms-lp__clip:active .rooms-lp__content {
            bottom: 0;
            opacity: 1;
        }
        /* media querie 400px */
        @media screen and (min-width: 25rem) {
            width: 23rem;
        }
        /* media querie 580px */
        @media screen and (min-width: 36.25rem) {
            width: 34rem;
            /* media querie 700px */
        }
        /* mdiq querie 700px */
        @media screen and (min-width: 43.75rem) {
            width: 43rem;
            .rooms-lp__box1 {
                clip-path: polygon(0 0, 55% 0, 20% 100%, 0 100%);
            }
            .rooms-lp__box2 {
                clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
            }
            .rooms-lp__box3 {
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
            }
            &:hover .rooms-lp__clip,
            &:active .rooms-lp__clip {
                clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
            }
            .rooms-lp__clip:hover,
            .rooms-lp__clip:active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
            .rooms-lp__clip:hover .rooms-lp__content,
            .rooms-lp__clip:active .rooms-lp__content {
                bottom: 0;
                opacity: 1;
            }
        }
        /* media querie 1000px */
        @media screen and (min-width: 62.5rem) {
            width: 50rem;
            height: 31.25rem;
        }
    }
    /* media querie 1000px */
    @media screen and (min-width: 62.5rem) {
        height: 51.5rem;
    }
}


/* fin estilos seccion rooms */