/* inicio estilos rooms.html */

.carousel-item {
    .carousel-item__img {
        min-width: 249px;
        max-width: 249px;
        flex-basis: fit-content;
        flex-grow: 1;
        height: 500px;
        min-height: 500px;
        object-fit: cover;
        /* media querie 400px */
        @media screen and (min-width: 25rem) {
            min-width: 339px;
            max-width: 339px;
        }
        /* media querie 580px */
        @media screen and (min-width: 36.25rem) {
            min-width: 439px;
            max-width: 439px;
        }
        /* media querie 1000px */
        @media screen and (min-width: 62.5rem) {
            height: 700px;
            min-height: 700px;
        }
        /* media querie 1300px */
        @media screen and (min-width: 81.25rem) {
            height: 500px;
            min-height: 500px;
        }
    }
}

.carousel-contenedor {
    background-color: rgba(240, 239, 239, .8);
    color: #056674;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px 0;
    font-weight: 700;
    box-shadow: .0625rem .0625rem .3125rem 0 #000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    .carousel {
        width: 100%;
        .carousel-inner {
            border-radius: 5px;
        }
    }
    .icon-img,
    .carousel-contenedor__p {
        margin: 1.25rem 0;
    }
    .carousel-contenedor__content,
    .carousel-contenedor__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .carousel-contenedor__list {
        .boton {
            max-height: 3rem;
        }
    }
    /* media querie 1000px */
    @media screen and (min-width: 62.5rem) {
        flex-direction: row;
        .carousel-contenedor__content,
        .carousel-contenedor__list {
            flex-direction: row;
        }
    }
}

.contenedor-general.rooms {
    border-bottom: .125rem solid #fff;
}

.carousel-indicators {
    z-index: 2;
}


/* media querie 1000px */

@media screen and (min-width: 62.5rem) {
    .contenedor-general:nth-child(odd) .carousel-contenedor {
        flex-direction: row-reverse;
    }
    .contenedor-general:nth-child(odd) .carousel-contenedor__content,
    .contenedor-general:nth-child(odd) .carousel-contenedor__list {
        flex-direction: row-reverse;
    }
    /* fin rooms.html */
}


/* fin estilos rooms.html */