      /* inicio estilos services.html */
      /* estilos de la seccion cabecera del services.html*/
      
      .services-icons {
          @include flex(flex, center, space-evenly);
          flex-wrap: wrap;
          font-size: .75rem;
          margin-bottom: 3rem;
          cursor: pointer;
          .services-icons__box {
              border-bottom: .0625rem solid #50949e;
              flex-basis: auto;
              font-weight: 800;
              @include tamaños(12.5rem, 100%);
              margin: .125rem 0;
              padding-top: 2rem;
              padding-bottom: 12rem;
              .services-icons__img {
                  @include tamaños(4.125rem, 4.125rem);
              }
              .services-icons__p {
                  margin: 0 auto;
                  padding: .625rem 0 .9375rem;
                  width: 33%;
              }
              &:active .services-icons__img {
                  padding-bottom: 1rem;
              }
              /* fin estilos de la seccion cabecera services.html*/
          }
          /* media querie 700px */
          @media screen and (min-width: 43.75rem) {
              .services-icons__box {
                  border-right: .0625rem solid #50949e;
                  padding-bottom: 13rem;
                  width: 50%;
              }
              .services-icons__box:nth-child(1),
              .services-icons__box:nth-child(2) {
                  border-top: .0625rem solid #50949e;
              }
              .services-icons__box {
                  margin: 0;
              }
          }
          @media screen and (min-width: 62.5rem) {
              .services-icons__box {
                  border-bottom: none;
                  border-right: none;
                  padding-bottom: 12rem;
                  transition: all .5s;
                  width: 33%;
              }
              .services-icons__box,
              .services-icons__box:nth-child(1),
              .services-icons__box:nth-child(2) {
                  border-top: none;
              }
              .services-icons__box .services-icons__p {
                  height: 4.375rem;
              }
              .services-icons__box .services-icons__p {
                  border-bottom: .0625rem solid #50949e;
              }
              .services-icons__box:nth-child(1) .services-icons__p,
              .services-icons__box:nth-child(2) .services-icons__p,
              .services-icons__box:nth-child(3) .services-icons__p {
                  height: 4.525rem;
              }
              .services-icons__box:nth-child(6) .services-icons__p6 {
                  height: 6.25rem;
              }
              .services-icons__box:nth-child(10) .services-icons__p,
              .services-icons__box:nth-child(11) .services-icons__p {
                  height: 6.50rem;
              }
              .services-icons__box:nth-child(12) .services-icons__p {
                  height: 7.95rem;
              }
              .services-icons__box:hover {
                  padding-top: 1rem;
              }
              /* fin estilos de la seccion cabecera */
              /* fin estilos services.html */
          }
          /* media querie 1200px */
          @media screen and (min-width: 75rem) {
              /* estilos de los iconos del services.html */
              .services-icons__box:nth-child(1) .services-icons__p,
              .services-icons__box:nth-child(2) .services-icons__p,
              .services-icons__box:nth-child(3) .services-icons__p {
                  height: 3.500rem;
              }
              .services-icons__box:nth-child(10) .services-icons__p,
              .services-icons__box:nth-child(11) .services-icons__p,
              .services-icons__box:nth-child(6) .services-icons__p6 {
                  height: 4.373rem;
              }
              .services-icons__box:nth-child(12) .services-icons__p {
                  height: 6.25rem;
              }
          }
      }
      /* estilos seccion mas servicios services.html*/
      
      .mas-servicios {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: .3125rem;
          height: 900px;
          text-align: center;
          .mas-servicios__box {
              border: 1px solid #056674;
              background-color: rgba(5, 102, 116, .7);
              box-shadow: .0625rem .0625rem .3125rem 0 #000;
              border-radius: .3125rem;
              transition: all .5s ease;
              font-size: 1.25rem;
              height: 15.625rem;
              padding: 1.25rem;
              margin-top: 1.875rem;
          }
          .mas-servicios__h3 {
              padding-bottom: 10px;
              line-height: 1.5;
          }
          /* media querie 700px */
          @media screen and (min-width: 43.75rem) {
              grid-template-columns: repeat(3, 1fr);
              height: 400px;
              .mas-servicios__box {
                  height: 300px;
                  margin: 30px 5px;
              }
              .mas-servicios__box:hover {
                  transform: translateY(-20px);
              }
          }
      }
      /* fin estilos seccion mas servicios */
      /* fin estilos services.html */