   /* estilos testimonials */
   
   .testimonials {
       @include flex(flex, center, space-evenly);
       flex-wrap: wrap;
       @include tamaños(80rem, 100%);
       .testimonials__card {
           background: rgb(42, 42, 42);
           border: .0625rem solid #fff;
           border-radius: 1%;
           box-shadow: .0625rem .0625rem .3125rem 0 #000;
           @include tamaños(25rem, calc(100% - 1rem));
           font-size: 1.1rem;
           overflow: hidden;
           padding: 3.75rem 2.5rem;
           position: relative;
           .testimonials__bg-gradient {
               background: linear-gradient(#fb7482, #fa5a6f, #ff254e);
               @include tamaños(100%, 100%);
               position: absolute;
               top: calc(100% - 2%);
               left: 0;
               transition: 0.5s;
               z-index: 10;
           }
           &:active .testimonials__bg-gradient,
           &:hover .testimonials__bg-gradient {
               top: 0;
           }
           .testimonials__content {
               position: relative;
               z-index: 15;
               .testimonials__p {
                   font-style: italic;
                   line-height: 1.5rem;
                   margin-bottom: 1.25rem;
               }
               .testimonials__h3 {
                   .testimonials__span {
                       color: #fa2c41;
                       font-size: .875rem;
                       transition: 0.5s;
                   }
               }
           }
           .testimonials__img-box {
               border-radius: 50%;
               border: .1875rem solid #fff;
               box-shadow: 0 .625rem 1.25rem rgba(0, 0, 0, .2);
               @include tamaños(6.25rem, 6.25rem);
               margin: 2rem auto;
               overflow: hidden;
           }
           &:active .testimonials__content .testimonials__h3 .testimonials__span,
           &:hover .testimonials__content .testimonials__h3 .testimonials__span {
               color: #fff;
           }
       }
       /* media querie 700px */
       @media screen and (min-width: 43.75rem) {
           .testimonials__card {
               width: calc(45% - 1rem);
               cursor: pointer;
           }
       }
       /* media querie 1000px */
       @media screen and (min-width: 62.5rem) {
           height: 31.25rem;
           .testimonials__card {
               width: calc(33.33% - 1rem);
           }
       }
   }
   /* fin estilos testimonials */