   /* --- --- CAROUSEL --- --- */
   
   .carrousel__contenedor {
       position: absolute;
       transform: translateY(-1.875rem);
       .boton.carrousel__anterior,
       .boton.carrousel__siguiente {
           background: none;
           box-shadow: none;
           background-color: rgba($color: #000000, $alpha: .2);
       }
       .carrousel__anterior,
       .carrousel__siguiente {
           position: absolute;
           display: block;
           @include tamaños(31.1rem, 1.5rem);
           border: none;
           top: calc(50% - 21.4375rem);
           cursor: pointer;
           &:active {
               background-color: rgba($color: #000000, $alpha: .6);
           }
           .boton__img {
               //    transform: translate(-0.3125rem, -0.0625rem);
               transform: translate(-0.9375rem, -0.5625rem);
               @include tamaños(1.875rem, 1.875rem);
           }
       }
       .carrousel__anterior {
           left: -1%;
           z-index: 1;
           border-radius: 5% 50% 50% 5%;
       }
       .carrousel__siguiente {
           right: -1%;
           border-radius: 50% 5% 5% 50%;
       }
       @media screen and (min-width: 18.75rem) {
           .carrousel__anterior {
               left: 5%;
           }
           .carrousel__siguiente {
               right: 5%;
           }
       }
       @media screen and (min-width: 43.75rem) {
           .boton.carrousel__anterior,
           .boton.carrousel__siguiente {
               background: linear-gradient($deg, $color-boton-1 0%, $color-boton-2 57%, $color-boton-3 85%);
               box-shadow: .1125rem .3375rem .75rem -0.125rem rgba(0, 0, 0, .75);
           }
           .carrousel__anterior,
           .carrousel__siguiente {
               @include tamaños(2rem, 2rem);
               top: calc(50% - 7.5625rem);
               .boton__img {
                   transform: translate(-0.75rem, -0.5625rem);
                   @include tamaños(1.5625rem, 1.5625rem);
               }
           }
           .carrousel__anterior {
               border-radius: .3125rem;
           }
           .carrousel__siguiente {
               border-radius: .3125rem;
           }
       }
       @media screen and (min-width: 62.5rem) {
           .carrousel__anterior,
           .carrousel__siguiente {
               @include tamaños(2.5rem, 2.5rem);
               top: calc(50% - 8.75rem);
               .boton__img {
                   transform: translate(-0.5rem, -0.29375rem);
               }
           }
           .carrousel__anterior {
               left: 5%;
           }
           .carrousel__siguiente {
               right: 5%;
           }
       }
       .carrousel__lista {
           overflow: hidden;
       }
       .carrousel__indicadores .glider-dot {
           display: block;
           height: .9375rem;
           @include tamaños(.9375rem, .9375rem);
           background: linear-gradient(30deg, #ff4b5c 0%, #ff4b5c 57%, #ec6f50 85%);
           transform: translateY(-3.75rem);
           transition: all .2s ease;
           margin: .625rem;
           box-shadow: .0625rem .1875rem .5625rem 0 #000;
       }
       .carrousel__indicador-general {
           filter: saturate(250%);
           transform: translateY(-4.0625rem);
       }
       .carrousel__indicadores .glider-dot:active,
       .carrousel__indicadores .glider-dot:hover {
           @extend .carrousel__indicador-general;
           @include tamaños(1.25rem, 1.25rem);
       }
       .carrousel__indicadores .glider-dot.active {
           @extend .carrousel__indicador-general;
           @include tamaños(1.5625rem, 1.5625rem);
       }
   }